* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #e4e6eb; /* Fondo gris claro tipo app */
  color: #1a1a1a; /* Forzamos que el texto sea oscuro */
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center; /* Centra la App en la pantalla de PC */
}